body {
    background-image: url("Bodybuilding_Men_511666_1920x1080.jpg");
    background-size: cover;         
    background-repeat: no-repeat;
    }

    iframe {
    float: right;
}
body {


    color: rgb(255, 255, 255);
  
  
  }
  button{
       file://C:/Filip/HTML/Index2.html
  }